<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XcraVPN"
        tools:targetApi="31">

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.LogService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.XcraVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            tools:ignore="VpnServicePolicy">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="This is a necessary access to display notifications after connecting the VPN service." />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Theme.XcraVPN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NodeActivity"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.GroupListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.GroupActivity"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.PerAppActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.UpdateAppActivity"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />
        <activity
            android:name=".ui.activity.LogCatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="false"
            android:theme="@style/Theme.XcraVPN" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.cache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_paths" />
        </provider>
    </application>

</manifest>